

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#Projects">Project Inventory Site</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav" >
              <li class="active">
                    <a href="#!Home">Home</a>
                </li>
                <li class="active">
                    <a href="#!Accounts">Accounts</a>
                </li>
                 <li class="active">
                    <a href="#/login">Login</a>
                </li>
                <li class="active">
                    <a href="">Application Area</a>
                </li>
                <li class="active">
                    <a href="">Team</a>
                </li> 
            </ul>
         
        </div>
        
    </div>


    
	 <footer class="myfooter">
            <div class="col-md-12">
               <div>
                    <a href="#">Site Map</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">About Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">Contact Us</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">Clients</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="#">Feedback</a>
                </div>
            </div>
        </footer>
