<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Strategic Application Insight</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">
    <link href="css/creative.css" rel="stylesheet">

  </head>

  <body id="page-top">

     <header class="masthead text-center text-white d-flex">
      <!-- <div class="container my-auto"> --><div>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
      <h1></h1>
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Strategic Application Insight</strong>
            </h1>
            <!-- <hr> -->
          </div>
          <div class="row">
	          <div class="col-lg-8 mx-auto">
			            <p class="text-faded mb-5">Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
			    </div>
			    <div class="col-lg-12 mx-auto">
			            <form name="form" ng-submit="login()" role="form">
				            	<div class="row">
				           				<div class="col-lg-8 mx-auto">
						            			<label for="usr" >Username</label>
						            			<input type="text" name="username" id="username"  ng-model="username" required />
						           		 </div>
						         </div>  		
					         
						         <div class="row">
				           				<div class="col-lg-8 mx-auto">
						            			<label for="password">Password</label>
						            			<input type="password" name="password" id="password"  ng-model="password" required />
						           		 </div>
					           </div>
					          
					          <div class="row">
				           				<div class="col-lg-6 mx-auto">
				           						<label for="role">Role</label>
				           						<select>
					          						<option value="admin">Admin</option>
					          						<option value="admin">Super User</option>
					          						<option value="admin">Normal User</option>
					          						<option value="admin">Executive User</option>
					         				 	</select>
				           				</div>
				           		</div>		
					          	<!-- <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-blue-login">Login</button> -->
					          	<div class="row">
					          	<div class="col-lg-8 mx-auto">
								<button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-blue-login">Login</button>
								</div>
								</div>
								
			            </form>
			            
	          </div>
        </div>
      </div>
    </header>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>

  </body>

</html>
