<!DOCTYPE html>
<html ng-app="ProjectInventory">

  <head>
    <meta charset="utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  </head>

  <body>
  
 
    
          <div ng-view></div>
   


	<meta name="viewport" content="width=device-width, initial-scale=1">
     	<script src="../../../js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../../../CSS/font-awesome.min.css">
        <link rel="stylesheet" href="../../../CSS/Site.css">
    <script src="//code.angularjs.org/1.2.20/angular.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-route.js"></script>
    <script src="//code.angularjs.org/1.2.13/angular-cookies.js"></script>
    <script src="../../../Scripts/app.js"></script>
      <script src="../../../Controllers/AccountsController.js"></script> 
    <script src="../../../Services/AccountsService.js"></script>
    <script src="../../../modules/authentication/services.js"></script>
    <script src="../../../modules/authentication/controllers.js"></script>
    <!--<script src="Controllers/controllers.js"></script>  -->
    
  </body>

</html>