 <!-- FOOTER START -->
       <footer class="footer">
      <div class="col-md-6 col-sm-6 col-xs-12 text-left">
               Copyright &copy; 2018 
            </div>
         <div class="col-md-6 col-sm-6 col-xs-12">
               <a href="#" alt="Privacy Policy" data-toggle="tooltip" title="Privacy Policy" style="color:black;">Privacy Policy</a> |
               <a href="#" alt="Terms of Use" data-toggle="tooltip" title="Terms of Use">Terms of Use</a> |
               <a href="#" alt="Disclaimer" data-toggle="tooltip" title="Disclaimer">Disclaimer</a> 
          
         </div>
      </footer>
      <!-- FOOTER END -->