 <!-- HEADER START -->
 <!-- Header start-->
   <div class="header_content">
            <div class=" top-bar">
               <div class="container ">
                  <div class="row">
                     <div class="col-md-12 col-xs-12 no-padding">
                        <div class="col-lg-4 col-md-4 col-sm-6  col-xs-6 pull-right text-right">
                           <!--User Header-->
                           <div class="header-user-info">
                              <li class="dropdown">
                                 <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                                 <span class="hidden-xs">Welcome, {{user}} ! <a href="#login"><i class="fa fa-sign-out"></i> Log-out</a></span> 
                                 
                              </li>
                           </div>
                           <!--User Header-->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
 <!--  Header end -->
         <!--NAVBAR-->
         <div class="navbar-wrap">
            <div class="navbar navbar-default navbar-inverse" role="navigation">
               <div class="container">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                  </div>
                  <div class="collapse navbar-collapse">
                     <ul class="nav navbar-nav">
                        <li   class="active"><a href="#Accounts"><i class="fa fa-building-o" aria-hidden="true"></i>Account {{currentUser.user}}</a></li>
                        <li class="active"><a href="#Towers"><i></i> Tower</a></li>
                        <li><a href="#"><i></i> Application</a></li>
                        <li><a href="#"><i></i> Team</a></li>
                     </ul>
                  </div>
                  <!--/.nav-collapse -->
               </div>
            </div>
         </div>
         <!--NAVBAR-->
 <!-- HEADER END -->